body
	font-family "Verdana", "Arial"
	font-size 13px
	text-align center
	text-stroke 1px rgba(255, 255, 255, 0.1)
	color #000
h1, h2
	margin 0
	font-size 22px
	color #343434
a, a:visited, a:hover, a:active
	text-decoration:none;
	color:red;
h1
	text-shadow 1px 2px 2px #ddd
	font-size 60px
#articulos
	text-align left
	margin-left auto
	margin-right auto
.articulo
	margin 20px
	border-top: 2px solid black;
	text-align: left;
	.titulo
		font-weight bold
		background-color #eee
.fecha
	float: right;
	font-size:80%;
	color: #999;
.comentario
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
.comentario:nth-child(odd)
	background-color: #EAEAEA;
.comentario:nth-child(even)
	background-color: white;
.autor
	width: 100px;
	float: left;
	border-right: 1px solid black;
.textocomentario
	text-align: left;
.formcomentario	
	input[type =text]
		width 490px
		margin-left 16px
	input[type =button], input[type =submit]
		text-align left
	textarea
		width 490px
		height 90px